@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ticket Premium</title>
    <link rel="stylesheet" type="text/css" href="~/Content/style.css" />
</head>
<body>
    <div class="center">
        <a title="Partidos" href="~/Views/partidos/listaPartido.cshtml">
            <img src="~/Images/partidos.png" />
        </a>&emsp;
        <label>Partidos</label>
        <br /><br />
        <a title="Facturas" href="">
            <img src="~/Images/factura.png" />
        </a>&emsp;
        <label>Facturas</label>
        <br /><br />
        <a title="Reporte de ventas" href="">
            <img src="~/Images/reporteVentas.png" />
        </a>&emsp;
        <label>Reporte de ventas</label>
    </div>
</body>
</html>
