@{
    ViewBag.Title = "Ticket Premium";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="~/Content/style.css" />
</head>
<body>
    <div class="center">
        <a title="Partidos" href="~/SoccerGames/SoccerGames" class="menuItem">
            <img src="~/Images/partidos.png" />&emsp;
            Partidos
        </a>
        <br /><br />
        <a title="Facturas" href="~/Bills/Bills" class="menuItem">
            <img src="~/Images/factura.png" />&emsp;
            Facturas
        </a>
        <br /><br />
        <a title="Reporte de ventas" href="~/Report/Index" class="menuItem">
            <img src="~/Images/reporteVentas.png" />&emsp;
            Reporte de ventas
        </a>
    </div>
</body>
</html>
